
/* ALL */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");
@font-face {
  font-family: "Text";
  src: url(assets/fonts/MyriadPro-Light.otf);
}
@font-face {
  font-family: "Headline";
  src: url(assets/fonts/MYRIADPRO-SEMIBOLD.OTF);
}
html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
}
/* MAIN SCREEN  */
.wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  margin: 0;
}
/* SWIPER */
.swiper {
  margin: 0;
  height: 95vh;
  width: 100%;
  position: relative;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0px;
  display: flex;
  align-content: center;
  width: 100%;
}

.swiper-slide:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.swiper-button-prev {
  z-index: 10000;
  -webkit-filter: saturate(40%) brightness(360%);
          filter: saturate(40%) brightness(360%);
  zoom: 1.2;
}

.swiper-button-next {
  zoom: 1.2;
  z-index: 10000;
  -webkit-filter: saturate(40%) brightness(360%);
          filter: saturate(40%) brightness(360%);
}
.slider-description {
	padding:25px;
	padding-right:30px;
	font-family: "Headline";
	font-size: 25px;
  border-radius: 4px;
  color: white;
  position: absolute;
  top: 60%;
  right: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* padding: */
  background-color: rgba(0, 0, 0, 0.6);
}

/* .slider-description:nth-child(3) {
  left: 0;
} */
.slider-description ul {
  font-family: "Text";
  /* margin: 0px 0px 0px 20px; */
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 2;
  font-size: 30px;
}
.intro{
	border-radius: 4px;
	padding:5px;
	font-size:30px;
	color:white;
	position: absolute;
	/* font-weight: 700; */
	/* text-transform: uppercase; */
	text-align: center;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	background-color: rgba(0,0,0,0.8);
	font-family: "Text";
	left:5%;
	top: 20%;
  -webkit-transition:1s;
  -o-transition:1s;
  transition:1s;  
	/* margin-left:60px;	 */
}

.explore-btn{
	position:absolute;
	top:35%;
	left:5%;
	width:-webkit-fit-content;
	width:-moz-fit-content;
	width:fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;

}
.explore-btn button{
	color:white;
	cursor: pointer;
	border:none;
	border-radius: 4px;
	background-color: rgba(65, 105, 225, 0.75);
	backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
	text-transform: uppercase;
	font-family: "Headline";
	font-size: 22px ;
	padding:15px;
	-webkit-transition: 0.9s;
	-o-transition: 0.9s;
	transition: 0.9s;
	
}
.explore-btn button:hover{
	border-radius: 4px;
	background-color: rgba(0, 76, 255, 0.75);
	backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
	
}
.slider-description h2 {
  font-family: "Headline";
  white-space: nowrap;
  padding:20px;	
  /* line-height: 1; */
  /* margin:20px 0px 20px 20px; */
  font-size: 25px;
}
/* .slider-description-list li:nth-child(4) {
  margin-left: 92px;
} */
.main-swiper-image {
  -o-object-fit: cover;
     object-fit: cover;
  /* object-position: top; */
  width: 100%;
  /* width:100%; */
  /* height: 80%; */
}
.vertical {
  position: relative;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: unset;
  max-width:560px;
}
/* .lights{ */
	/* margin-left:30px; */
/* } */
.space{
  position:absolute;
  top:70%;
  left:22%; 
}
.garden{
  position:absolute;
  top: 70%;
  right:6%;
}


/* NAV */
.nav-wrapper {
  border-top: 1px solid #a1a1a1;

  z-index: 3000;
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1920px;
}
.logo {
  max-width: 300px;
  font-family: "Roboto Serif";
  font-size: 1.3vw;
  /* width: 10%; */
  white-space: nowrap;
  color: white;
  width: content;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: red;
}
.logo a {
  text-decoration: none;
}
nav {
  width: 50%; /* set to 70% when EVENTS will be in the nav list*/
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-item {
  font-family: "Roboto Serif";
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.navbar-item span {
  text-decoration: underline;
}
.navbar-item:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.navbar-item:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.sign {
  max-width: 200px;
  /* width: 10%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.sign img {
max-width: 300px;
}

#menu-bar {
  display: none;
}
.fas {
  display: none;
}
/* MEDIA 768*/
@media (max-width: 768px) {
  .nav-wrapper {
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    height: 60px;
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin: 0;
  }
  .navbar-item {
    text-decoration: none;
    font-size: 3vw;
  }
  .logo {
    display: none;
  }
  .sign {
    display: none;
  }
  .wrapper {
    margin-top: 60px;
    height: 100%;
  }
  .hide {
    display: none;
  }
  .slider-description {
    padding: 20px;
    left: unset;
    margin: 0px;
    right: 0;
    /* overflow: hidden; */
    /* width: 375px; */
    text-align: left;
  }
  .slider-description ul {
    padding: 0;
  }
	/* .slider-description h2 {
		margin: 30px;
		font-size: 5vw;
	} */
  .slider-description:nth-child(2) {
    left: unset;
  }
  .slider-description:nth-child(4) {
    margin: 0;
  }
  .swiper-button-next::after {
    zoom: 0.8;
  }
  .swiper-button-prev::after {
    zoom: 0.8;
  }
  .main-swiper-image {
    /* margin-bottom:200px; */
    -o-object-fit: cover;
       object-fit: cover;
    /* width: auto; */
    max-width: 100%;
    /* height: auto; */
    overflow: hidden;
  }
  .swiper-slide .main-swiper-image:nth-child(1) {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }
  #third {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: start;
    margin: 0px;
    width: 100%;
  }
  .explore-btn{
    left:unset;
    top:unset;  
    position:absolute;
    top:30%;
    white-space: nowrap;
    
  }
  .intro{
    position:absolute;
    top:5%;
    left:unset;
  }
}
/* MEDIA 1000 */
@media (min-width: 1000px) {
  /* .slider-description:nth-child(2){
		margin-left:3.5%;
	}
	.slider-description:nth-child(4){
		margin-right:3.5%;
	} */
}
/* MEDIA 1245 */
@media(max-width:1245px){
  .space{
    left:0;
  }
  .garden{
    right:0;
  }
}